.board {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.is-active {
  cursor: not-allowed;
}
.is-alive {
    background-color: black;
}
.field {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
}
.title {
  text-align: center;
}
